* {
    font-size: 13px;
    font-family: JetBrains Mono Nerd Font;
}

*:not(#workspaces) {
    padding: 0 10px;
    margin: 0px;
}

#workspaces {
    padding: 0 1px;
    background-color: #1c1b1c;

}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery:not(.charging), #battery:not(.plugged) {
    color: #ffffff;
}

#battery.full {
    color: #a6ffa7
}

#battery.medium {
    color: #fff3a6
}

#battery.low {
    color: #ffa6a6
}

#battery.critical {
    color: #ff0000
}
